<section id="aboutPage">
    <div id="curPageTitle">About
        <hr>
    </div>

    <p id="aboutText"><span style="color: #48d1cc">MyAuction</span>은 사용하지 않았어도 감가가 심한 일반 중고거래를 대체합니다.<br><br>
        <span style="color: #48d1cc">MyAuction</span>은 여러분의 중고품의 가치를 높이 평가합니다.<br><br>
        <span style="color: #48d1cc">MyAuction</span>을 통해 여러분의 물건의 가치를 인정받아 보세요.<br><br>
        
    </p>
    
    <div id="howtoText">
        <h1>이용방법</h1>
        <h3>Auctions</h3> 현재 경매중인 상품과 경매 종료된 상품을 확인할 수 있습니다.<br>
        <h3>Sell</h3> 직접 물품을 경매에 입찰할 수 있습니다. 지정한 종료일까지 가장 높은 응찰가를 제시한 고객에게 판매하게 됩니다.<br>
    </div>

</section>