<section id="CAContainer">
    <aside id="sidebox">
        <div id="onsale" style="cursor: pointer;">진행 경매</div>
        <br>
        <div id="expired" style="cursor: pointer;">경매 결과</div>
    </aside>
    <%- include(itemPage) %>
</section>

<script src="/script/curAuctionsScript.js"></script>