<section id="CAContainer">
    <aside id="sidebox">
        <div id="onsale">진행 경매</div>
        <br>
        <div id="expired">경매 결과</div>
    </aside>
    <article>
        <div id="curPageTitle"></div>
    </article>
</section>

<script>
    document.getElementById("onsale").addEventListener("click", function(){
        
    })
</script>