<section id="CAContainer">
    <aside id="sidebox">
        <div id="onsale">진행 경매</div>
        <br>
        <div id="expired">경매 결과</div>
    </aside>
    <%- include(itemPage) %>
</section>

<script>
    document.getElementById("onsale").addEventListener("click", function () {
        window.location.href = '/curAuctions';
    })
    document.getElementById("expired").addEventListener("click", function () {
        window.location.href = '/expiredPage';
    })
</script>