<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>My Auction</title>
    <link rel="stylesheet" href="/css/mainStyle.css">
    <link rel="stylesheet" href="/css/totalStyle.css">
    <link rel="stylesheet" href="/css/signStyle.css">
    <script src="/script/mainScript.js"></script>
    <script src="/script/totalScript.js"></script>
    <script src="/script/signScript.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    
</head>

<body>
    
   <%- include(userExist) %>
   <%- include(filename) %>
   <script>
    var message = '<%= message %>';
    if(message != 'none'){
        alert(message);
    }
</script>
</body>

</html>