<section id="detailArea">

</section>

<script>
    const cookieId = '<%= userId %>';
    let item = '<%- item %>';
    item = JSON.parse(item);
</script>
<script src="/script/itemDetailsScript.js"></script>