<div id="header_nav_container">
    <header id="headerArea">
        <img id="logoImg" src="/image/logo.jpg">
        <div class="header-rightContainer">
            <div class="headerElement" id="to_login">로그인</div>
            <div class="headerElement" id="to_signUp">회원가입</div>
        </div>
    </header>
    <nav id="navArea">
        <div class="navBtn" id="to_auction">Auctions</div>
        <div class="navBtn" id="to_sell">Sell</div>
        <div class="navBtn" id="to_about">About</div>
    </nav>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let loginBtn = document.getElementById("to_login");
        loginBtn.addEventListener("click", function () {
            window.location.href = '/signIn';
        });

        let signUpBtn = document.getElementById("to_signUp");
        signUpBtn.addEventListener("click", function () {
            window.location.href = '/signUp';
        });
    })
</script>