<div id="header_nav_container">
    <header id="headerArea">
        <img id="logoImg" src="/image/logo.jpg">
        <div class="header-rightContainer">
            <div class="headerElement" id="to_mypage">
                <%= userId %>
            </div>
            <div class="headerElement" id="to_logOut">로그아웃</div>
            <img id="searchImg" src="/image/searchBtn.png">
        </div>
    </header>
    <nav id="navArea">
        <div class="navBtn" id="to_auction">Auctions</div>
        <div class="navBtn" id="to_sell">Sell</div>
        <div class="navBtn" id="to_about">About</div>
    </nav>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let mypageBtn = document.getElementById("to_mypage");
        mypageBtn.addEventListener('click', function(){
            window.location.href = '/myPage';
        });
        let logOutBtn = document.getElementById("to_logOut");
        logOutBtn.addEventListener("click", function () {
            window.location.href = '/logOutClicked';
        });
    })
</script>