<section id="mainArea">
    <div id="outer-banner">
        <div id="bannerArea">
            <img class="banner-in" src="image/Myauction_banner.png">
            <img class="banner-in" src="image/banner_second.jpg">
            <img class="banner-in" src="image/Myauction_banner.png">
            <img class="banner-in" src="image/banner_second.jpg">
        </div>
    </div>
    <div id="btnArea">
        <button class="leftBtn"><img src="image/left_button_img.svg"></button>
        <input class="bannerSlider" type="range" disabled>
        <button class="rightBtn"><img src="image/right_button_img.svg"></button>
    </div>

</section>


<script>
    let curIndex = 0;
    const outer = document.getElementById('outer-banner');
    const list = document.getElementById('bannerArea');
    const inners = document.getElementsByClassName('banner-in');
    const leftBtn = document.getElementsByClassName('leftBtn');
    const rightBtn = document.getElementsByClassName('rightBtn');
    const slider = document.getElementsByClassName('bannerSlider');

    const sliderStep = parseInt(100 / inners.length);
    slider[0].max = sliderStep * (inners.length - 1);
    slider[0].value = 0;

    for (inner of inners) {
        inner.style.width = `${outer.clientWidth}px`;
    }

    list.style.width = `${outer.clientWidth * inners.length}px;`;
    leftBtn[0].addEventListener("click", function () {
        if (curIndex != 0) {
            curIndex--;
            list.style.marginLeft = `-${outer.clientWidth * curIndex}px`;
            moveThumb('left', slider[0].value);
        }
    })

    rightBtn[0].addEventListener('click', function () {
        if (curIndex != inners.length - 1) {
            curIndex++;
            list.style.marginLeft = `-${outer.clientWidth * curIndex}px`;
            moveThumb('right', slider[0].value);
        }
    })

    const timer = ms => new Promise(res => setTimeout(res, ms));
    async function moveThumb(direction, val) {
        if (direction == 'left') {
            let tmp = val;
            for (let i = tmp; i >= tmp - sliderStep; i--) {
                slider[0].value = i;
                await timer(10);
            }
        }
        else if (direction == 'right') {
            const tmp = val;
            for (let i = val; i <= val + sliderStep; i++) {
                console.log(i);
                if (i >= tmp + sliderStep) return;
                slider[0].value = i;
                await timer(10);
                tmp = i;
            }
        }
    }

</script>