<section id="mainArea">
    <div id="outer-banner">
        <div id="bannerArea">
            <img class="banner-in" src="image/Myauction_banner.png">
            <img class="banner-in" src="image/banner_second.jpg">
            <img class="banner-in" src="image/Myauction_banner.png">
            <img class="banner-in" src="image/banner_second.jpg">
            <img class="banner-in" src="image/Myauction_banner.png">
            <img class="banner-in" src="image/banner_second.jpg">
        </div>
    </div>
    <div id="btnArea">
        <button class="leftBtn"><img src="image/left_button_img.svg"></button>
        <input class="bannerSlider" type="range">
        <button class="rightBtn"><img src="image/right_button_img.svg"></button>
    </div>

</section>


<script src="/script/mainScript.js"></script>