<div id="curPageTitle">
    마이페이지
    <hr>
</div>

<section id="mypageArea">
    <div id="userInfoContainer"></div>
    <div id="myItemContainer"></div>
    <div id="noticeContainer"></div>
</section>

<script>
    const userData = '<%- JSON.stringify(userData) %>';
</script>
<script src="/script/mypageScript.js"></script>