<div id="curPageTitle">
    마이페이지<hr>
</div>

<section id="mypageArea">
    <div id="myItemContainer"></div>
    <div id="noticeContainer"></div>
</section>

<script>
    const userData = '<%- JSON.stringify(userData) %>';
    const parsedUser = JSON.parse(userData);

    const itemContainer = document.getElementById("myItemContainer");
    const noticeContainer = document.getElementById("noticeContainer");

    for(item of userData.items){
        
    }

</script>