<div id="curPageTitle">
    회원정보<hr>
</div>

<section id="mypageArea">
    
</section>

<script>
    const userData = '<%- JSON.stringify(userData) %>';
    const parsedUser = JSON.parse(userData);
    const area = document.getElementById('mypageArea');    
</script>