<div id="curPageTitle">진행 경매
    <hr>
</div>
<article id="itemArea">

</article>

<script>
    const cookieId = '<%= userId %>';
    const itemList = '<%- JSON.stringify(itemList) %>';
</script>
<script src="/script/onsaleScript.js"></script>