<form method="post" action="/auctions/upload" enctype="multipart/form-data" onsubmit="return submitConfirm()">
    <section id="sellFormArea">
        <div id="sellText">상품 등록</div><hr><br>
        <table>
            <tr>
                <td><label class="sellFormText" for="productName">제품명</label></td>
                <td><input class="sellFormInput" id="productName" type="text" name="productName" placeholder="판매하시는 상품의 제품명만 입력해 주세요" required></td>
            </tr>
            <tr>
                <td><label class="sellFormText" for="productDetails" id="detailsText">상세설명<br><br><br><br><br></label></td>
                <td><textarea class="sellFormInput" id="productDetails" type="text" name="productDetails" placeholder="구매시기, 실사용 기간, 상품 하자 등 판매하시는 상품의 상태를 자세히 입력해 주세요" required></textarea></td>
            </tr>
            <tr>
                <td><label class="sellFormText" for="productPrice">제품 정가</label></td>
                <td><input class="sellFormInput" id="productPrice" type="number" name="productPrice" placeholder="숫자만 입력해 주세요" required>&nbsp;&nbsp;원</td>
            </tr>
            <tr>
                <td><label class="sellFormText">경매 마감일</label></td>
                <td>
                    <input class="sellFormInput" id="expire_date" type="date" name="expire_date" required>&emsp;
                    <input id="expire_time" type="time" name="expire_time" required>
                </td>
            </tr>
            <tr>
                <td><label class="sellFormText">상품 사진 등록</label></td>
                <td><input class="sellFormInput" id="productImage" type="file" name="productImage" required></td>
            </tr>
        </table>
        <button id="sellBtn">상품 등록</button>
    </section>
</form>
<script>
    function submitConfirm(){
        const name = document.getElementById("productName").value;
        const price = document.getElementById("productPrice").value;
        const expire_date = document.getElementById("expire_date").value;
        const expire_time = document.getElementById("expire_time").value;
        return confirm(`제품명 : ${name}
가격 : ${price} 원
경매 종료일 : ${expire_date} ${expire_time}
위 기한까지 최고 응찰가를 제시한 고객이 낙찰자로 선정됩니다.
등록하시겠습니까?`
        );
    }
</script>