<form method="post" action="/signIn">
    <section id="loginFormArea">
        <div id="loginText">로그인</div>
        <div>
            <input id="idInput" type="text" name="userId" placeholder="아이디">
        </div>
        <div>
            <input id="pwInput" type="password" name="userPw" placeholder="비밀번호">
        </div>
        <div id="loginBtn">로그인</div>
        <div class="headerElement" id="_to_signUp">회원가입</div>
    </section>
</form>
