<form method="post" action="/signUpSubmit">
    <section id="signUpFormArea">
        <div id="signUpText">
            <div style="width: 515px">회원가입</div>
            <div style="font-size: 16px; width: 90px; padding: 30px 0px 0px 200px"><span style="color:red">*</span>필수
            </div>
        </div>
        <div class="infoLabel">아이디<span style="color:red">*</span></div>
        <div><input id="idInput" type="text" name="id" placeholder="아이디를 입력해 주세요" required></div>

        <div class="infoLabel">비밀번호<span style="color:red">*</span></div>
        <div><input id="pwInput" type="password" name="password" placeholder="비밀번호를 입력해 주세요" required></div>

        <!-- <div class="infoLabel">비밀번호 확인<span style="color:red">*</span></div>
    <div><input id="_pwInput" type="password" name="_password" placeholder="비밀번호를 다시 입력해 주세요" required></div> -->

        <div class="infoLabel">이름<span style="color:red">*</span></div>
        <div><input id="nameInput" type="text" name="name" placeholder="이름을 입력해 주세요" required></div>

        <!-- <div class="infoLabel">휴대폰 번호<span style="color:red">*</span></div>
    <div><input id="phoneNumInput" type="text" name="phone" placeholder="숫자만 입력해 주세요" required></div> -->

        <button id="signUpBtn">회원가입</button>

    </section>
</form>