input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

td {
  padding-top: 20px;
  padding-bottom: 20px;
}

#sellText {
  font-size: 50px;
  padding: 0px 0px 20px 0px;
  margin-left: 50px;
  margin-right: 5px;
  width: 810px;
  border-bottom: 1px solid black;
}

#sellFormArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 150px;
}

.sellFormText {
  font-size: 40px;
  padding: 150px 50px 20px 50px;
}

#productName {
  height: 50px;
  width: 500px;
  font-size: 21px;
}

#detailsText {}

#productDetails {
  height: 300px;
  width: 502px;
  font-size: 18px;
  resize: none;
}

/* #periodArea{
    display: flex;
    flex-direction: row;
} */
#period_date {}

#period_time {}

#period_result {
  color: grey;
}
  
#productPrice {
  width: 450px;
}

#won {}

#productImage {
}

#sellBtn {
  width: 300px;
  height: 55px;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  background-color: mediumturquoise;
  color: white;
  padding: 13px 8px 12px 7px;
  margin-top: 20px;
  text-align: center;
}

/*판매페이지 스타일*/

#CAContainer{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 150px;
  height: 100vh;
}
#sidebox{
  position: fixed;
  top: 350px;
  left: 40px;
  width: 100px;
  height: 70px;
  padding-bottom: 5px;
  border-right: 1px solid grey;
  text-align: center;

}
#curPageTitle{
  position: fixed;
  font-size: 40px;
  left: 200px;
  top: 120px;
  width: 88%;
  height: 80px;
  padding-top: 50px;
  background-color: white;
}
#itemArea{
  position: absolute;
  z-index: -1;
  left:200px;
  width: 90vw;
  padding-top: 140px;
  padding-bottom: 50px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3 1 0;
  padding-right: 20px;
}
.itemImg{
  height: auto;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
.itemContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 500px auto;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.infoContainer{
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 30px;
  padding-top: 10%;
  padding-left: 30px;
  border-left: 1px solid grey; 
  object-fit: contain;

}

.to_detailBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(85, 85, 85);;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 2px;
  height: 10%;
  padding-bottom: 3px;
}

.itemPeriod{
  
}

/*상세페이지 스타일*/
#detailArea{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 150px;
  left: 100px;
  height: 80vh;
  width: 80%;
}

._imgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 4 1 0;
  padding-right: 10px;
}
._itemImg{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.formContainer{
  padding-top: 5%;
  flex: 1 1 0;
  
}
._infoContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
  padding-left: 100px;
  object-fit: contain;

}
._infoHeader{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5%;
  border-bottom: 1px solid grey;

}
._itemName{

}
._userId_item{

}
._itemPrice{

}
._itemPeriod{

}
