/*메인페이지*/
#mainArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
}
#outer-banner{
    top: 10%;
    width: 99vw;
    overflow-x: hidden;
    margin: 0 auto;
}
#bannerArea{
    display: flex;
    transition: .3s ease-out;
}
#btnArea{
    
}
.banner-in{
    text-align: center;
}
.leftBtn{
    border: none;
    background-color: transparent;
}
.rightBtn{
    border: none;
    background-color: transparent;
}

/*about페이지*/
#aboutPage{
    position: absolute;
    top: 30vh;
}

#aboutText{
    position: relative;
    left: 11vw;
    font-size: 25px;
}

#howtoText{
    position: relative;
    left: 11vw;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}