/*메인페이지*/
#mainArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 131px;
}
#outer-banner{
    top: 10%;
    width: 99vw;
    overflow-x: hidden;
    margin: 0 auto;
}
#bannerArea{
    display: flex;
    transition: .3s ease-out;
}
#btnArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.banner-in{
    text-align: center;
}
.leftBtn{
    border: none;
    background-color: transparent;
    padding-top: 5px;
}
.rightBtn{
    border: none;
    background-color: transparent;
    padding-top: 5px;
}
input[type=range]:disabled::-webkit-slider-thumb {
    cursor: default;
}
input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    height: 8px;
    background: #ddd;
    margin: 0 10px;
    border-radius: 30px;
    transition: background 0.9s ease;
}
input[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 12px;
    background: #ddd;
    border-radius: 30px;
    transition: background 0.9s ease;
}
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 12px;
    border-radius: 30px;
    background: #48d1cc;
    cursor: pointer;
    transition: transform 0.9s ease;    
}
/*about페이지*/
#aboutPage{
    position: absolute;
    top: 30vh;
}

#aboutText{
    position: relative;
    left: 11vw;
    font-size: 25px;
}

#howtoText{
    position: relative;
    left: 11vw;
    font-size: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 15px;
}