/*drag-block*/
body {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  #logoImg {
    width: 220px;
    height: 60px;
    position: relative;
    left: 50px;
}

#searchImg {
    width: 32px;
    height: 22px;
    position: relative;
    top: -1px;
    left: 5px
}


#header_nav_container{
    position: fixed;
    width: 100%;
}
/*header*/
#headerArea {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    height: 80px;
    background-color: white;
}

.header-rightContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 10px;
    padding-top: 15px;
    padding-right: 15px;
}

.headerElement {
    color: grey;
    font-size: 14px;
}

/*nav*/
#navArea {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bcbcbc;
    background-color: white;
}

.navBtn {
    height: 40px;
    width: 300px;
    padding-bottom: 10px;
    font-size: 23px;
    text-align: center;
    z-index: 1;
}